{% extends "base.html" %}
{% block content %}
          <div class="row mt-2 content">    <!-- begin content -->
              <div class="col-12 text-center">
                  <h2>Post</h2>
              </div>
              <div class="col-1">

              </div>
              <div class="col-md-10 col-6  ">   <!-- begin single post -->
                      <div class="row mt-3">
                          <div class="col-8">
                                <h5>{{ post.by_id }}</h5>
                                <p>{{ post.time|date:"D d M Y H M S Z" }}</p>
                          </div>
                          <div class="col-4 text-right single_page_image">
                                <!-- <img src="https://cdn2.iconfinder.com/data/icons/basic-ict-line-icons/100/22-512.png" class="post_option_icon"/> -->
                                <div class="dropdown">
                                 <button class="btn btn-primary dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      =
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="about-us">
                                      {% if request.user.id == post.by_id_id %}
                                        <form method="post">
                                          {% csrf_token %}
                                          <button  name="delete_single_post" type="submit" value="{{ post.id }}">Delete </button>
                                        </form>
                                      {% endif %}
                                  </div>
                                </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-12">
                            <p>{{ post.text }}</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-12 post_image">
                            {% if post.image  %}
                            <img width="52%" src="{{ post.image.url }}"/>
                            {% endif %}
                          </div>
                      </div>
                      <div class="row">
                          <table class="table table-bordered">
                                <thead>
                                    <tr>
                                      <td>{{ ThisPostTotalUp }} likes</td>
                                      <td>{{ ThisPostTotalDown }} Dislikes</td>
                                      <td>0 Comments</td>
                                    </tr>
                                </thead>
                          </table>
                      </div>
                      <div class="row mt-2">
                          <div class="col-8 post_comment">
                              <form method="post" action="#" id="down-button">
                              {% csrf_token %}

                                   <input type="hidden" value="{{ post.id }}" name="post_like_id" />
                                   {% if LikeByRequestedUser == True %}
                                   <input type="submit" value="up" name="up" class="" style="background-color : #003366; "/>
                                   {% elif LikeByRequestedUser == False %}
                                   <input type="submit" value="up" name="up" class=""/>
                                   {% else %}
                                   <input type="submit" value="up" name="up" class=""/>
                                   {% endif %}

                              </form>

                              <form method="post" id="up-button">
                              {% csrf_token %}

                                  <input type="hidden" value="{{ post.id }}" name="post_like_id" />
                                  {% if LikeByRequestedUser == False %}
                                  <input type="submit" value="down" name="down" class="float_left"  style="background-color : #ff3300; "/><br><br>
                                  {% elif LikeByRequestedUser == True %}
                                   <input type="submit" value="down" name="down" class="float_left"/><br><br>
                                   {% else %}
                                   <input type="submit" value="down" name="down" class="float_left"/><br><br>
                                   {% endif %}

                              </form>
                              
                              <form method="post">
                              {% csrf_token %}
                                <input type="text" name="comment"/>
                                <input type="hidden" name = "post_id" value="{{ post.id }}"/>
                                <input type="submit" name="submit_comment" class="float_left"/>
                              </form>
                          </div>
                      </div>
                      <div class="row mt-2">
                          <div class="col-8 see_comment">
                                <h5>By hi</h5>
                                <p class="show_time">at 3.30</p>
                                <p>lorem ypsums</p>
                          </div>
                      </div>
              </div>    <!-- end single post -->     
              <div class="col-1">

              </div>
          </div>  <!-- end content -->
  {% endblock %}