<!DOCTYPE html>
<html>
  <head>
    <title>FIM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="addition/bootstrap.css">    <!-- downloaded from https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css -->
    <link href="style.css" rel="stylesheet" media="screen">
  </head>
  <body>
      <div class="container body">     
          <div class="row header">    <!-- begin header -->
                  <div class="col-sm-3 col-4 logo_section">
                      <img id="logo" src="addition/images/logo1.jpg"/>
                  </div>
                  <div class="col-sm-6 col-6 text-right search_form">
                      <input class= "form-control input-lg"type="search_form"/>
                      <input type="submit" value="search"/>
                  </div>
                  <div class="col-sm-3 col-2 text-center profile_menu">
                         <div class="dropdown">
                             <button class="btn btn-primary dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Menu
                              </button>
                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="about-us">
                                  <a class="dropdown-item" href="index.html">Home</a>
                                  <a class="dropdown-item" href="blog.html">Blog</a>
                                  <a class="dropdown-item" href="user.html">User</a>
                                  <a class="dropdown-item" href="settings.html">Settings</a>
                                  <a class="dropdown-item" href="donate.html">Donate</a>
                                  <a class="dropdown-item" href="logout.html">Log Out</a>
                                  <a class="dropdown-item" href="enter.html">Log In</a>
                              </div>
                        </div>
                  </div>
          </div>    <!-- end header -->
          <div class="row mt-2 donate_content">    <!-- begin content -->
                  <div class="col-12 text-center">
                        <h1>Donate</h1>
                  </div>
                  <div class="col-12 donate_user_profile_pic text-center mt-2">
                        <img src="https://scontent-kut2-1.xx.fbcdn.net/v/t1.0-0/p480x480/20597148_1370772063039085_4689426805533295877_n.jpg?oh=087ffa74077686b157671a96382a38f5&oe=59EFD37E" />
                  </div>
                  <div class="col-12 text-center">
                      How Much You Want To Donate
                  </div>
                  <div class="col-2">
                      <!-- blank space -->
                  </div>
                  <div class="col-8 donate_amount_table_div">
                      <table class="table table-bordered donate_amount_table">
                            <tr>
                                <th>20</th>
                                <th>50</th>
                                <th>100</th>
                                <th>200</th>
                                <th>
                                    <input type="text" style="width: 70px" /><br>
                                    <input type="submit" style="width:70px" />
                                </th>
                                <th>
                                    <select>
                                        <option value="volvo">Paypal</option>
                                        <option value="saab">Debit</option>
                                        <option value="mercedes">Credit</option>
                                    </select><br>
                                    <input type="submit" style="width:70px" />
                                </th>
                            </tr>
                      </table>
                  </div>
                  <div class="col-2">
                      <!-- blank space -->
                  </div>
                  <div class="col-1">
                      <!-- blank space -->
                  </div>
                  <div class="col-10 text-center donation_user_details">
                    <form>
                        <input type="text"/>
                        <input type="text"/>
                        <input type="text"/>
                        <input type="text"/>
                        <input type="text"/></br>
                        <textarea></textarea></br>
                        <input type="submit"/>
                    </form>
                  </div>
                  <div class="col-1">
                      <!-- blank space -->
                  </div>
          </div>    <!-- end content -->
      </div>    <!-- end body -->
  </body>
  <script src="addition/jquery-3.2.1.min.js"></script>
  <script src="addition/bootstrap.js"></script>  <!-- Downloaded from https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js -->
 
</html>

