{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>FIM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'addition/bootstrap.css' %}"> <!-- https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css -->   <!-- without this "hidden-xs-down" not working -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">  --><!-- https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css -->   <!-- without this "hidden-xs-down" not working -->

     <!-- <link rel="stylesheet" href="addition/bootstrap.css">   -->  <!-- downloaded from https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css -->    <!-- without this menu dropdown was not working previously given bootstrap official v4 downloaded file not working -->
    <link href="{% static 'style.css' %}" rel="stylesheet" media="screen">
  </head>
  <body>
      <div class="container body">     
          <div class="row header">    <!-- begin header -->
                  <div class="col-sm-3 col-4 logo_section">
                      <a href="/"><img id="logo" src="{% static 'addition/images/logo1.jpg' %}"/></a>
                  </div>
                  <div class="col-sm-4 col-4 text-right search_form">
                      <input class= "form-control input-lg"type="search_form"/>
                      <input type="submit" value="search"/>
                  </div>
                  <div class="col-sm-2 col-2 text-center">
                    {% if request.user.is_authenticated %}
                        Welcome 
                        <a href="/user/{{ request.user.id }}">
                            {{ request.user.username }}
                        </a>
                        {% else %}
                        <p>Welcome guest</p>
                    {% endif %}
                  </div>
                  <div class="col-sm-3 col-2 text-center profile_menu">
                         <div class="dropdown">
                             <button class="btn btn-primary dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Menu
                              </button>
                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="about-us">
                                  <!-- <a class="dropdown-item" href="index.html">Home</a>
                                  <a class="dropdown-item" href="blog.html">Blog</a>
                                  <a class="dropdown-item" href="user.html">User</a>
                                  <a class="dropdown-item" href="settings.html">Settings</a>
                                  <a class="dropdown-item" href="donate.html">Donate</a>
                                  <a class="dropdown-item" href="logout.html">Log Out</a>
                                  <a class="dropdown-item" href="enter.html">Log In</a> -->

                                  <a class="dropdown-item" href={%url "home"%}>Home</a>

                                  <!-- <a class="dropdown-item" href=url "blog">Blog</a> -->
                                  <!-- <a class="dropdown-item" href=url "user">User</a> -->
                                  <!-- <a class="dropdown-item" href=url "donate">Donate</a> -->

                                  <a class="dropdown-item" href={%url "settings"%}>Settings</a>
                                  {% if request.user.is_authenticated %}
                                    <a class="dropdown-item" href={%url "logout"%}>Log Out</a>
                                      {% else %}
                                    <a class="dropdown-item" href={%url "enter"%}>Log In</a>
                                  {% endif %}

                              </div>
                        </div>
                  </div>
          </div>    <!-- end header -->

  {% block content %}{% endblock %}
      </div>    <!-- end body -->
  </body>
  <script src="{% static 'addition/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'addition/bootstrap.js' %}"></script>  <!-- Downloaded from https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js -->

 
</html>
